<form class="c-account-form c-account-form--update-contact" action="#" method="post">
    {% csrf_token %}
    <div style="font-size: 12px;color: #949490;">
        RE:微信百款辅助软件代理
    </div>
    <br>
    <textarea name="important" style="width: 460px;height: 160px;margin-left: 10px;padding: 5px 10px;
    border: 1px solid #1bb28a;border-radius: 5px;color: #777;font-size: 12px;"> </textarea>
    <br>
    <br>
    <button class="c-btn c-btn-theme c-btn-radius c-new-post__form-submit" style="margin-left: 20px;color: #fff;
    background: #1bb28a;width: 220px;height: 30px;font-size: 14px;
    line-height: 30px;border-radius: 5px;border: none;outline: none;">回复
    </button>
</form>

