<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main/main.css">
    <link rel="stylesheet" href="../css/y.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>BD之家</title>

    <meta name="keywords" content="默认关键词"/>
    <meta name="description" content="默认描述"/>

</head>

<body>
<div class="c-top-bar">
    <div class="c-top-bar__nav">

        <div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找合作,上BD之家
        </div>

        <ul class="list-inline c-top-bar__nav-list">

            <li class="list-inline-item c-top-bar__nav-item">
                <a class="c-top-bar__nav-link" href="login.html">登录</a>
            </li>
            <li class="list-inline-item c-top-bar__nav-item">
                <a class="c-top-bar__nav-link" href="register.html">注册</a>
            </li>

        </ul>

    </div>
</div>
<header class="c-page-header">
    <nav class="c-page-header__nav">
        <a class="c-page-header__logo" href="http://www.mybdhome.com/"><img class="c-page-header__logo-img"
                                                                            src="img/logo.png" alt="企业Logo"></a>
        <form class="c-page-header__search-form" action="http://www.mybdhome.com/" method="get">
            <input type="hidden" name="w" value="search"/>
            <input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value="">
            <button class="c-page-header__search-submit" style="
    color: #ffffff;
"></button>
        </form>
        <a class="c-page-header__new-post" href="release.html">免费发布合作</a>
    </nav>
</header>

<main class="page-main">
    <div class="c-entry-post">
        <header class="c-entry-post__header">
            <h2 class="c-entry-post__title">选择发帖板块</h2>
            <p class="c-entry-post__tip">温馨提示：请依据您的实际情况选择正确的版块，否则可能会被小编拖入回收站哦~</p>
        </header>
        <div class="c-entry-post__content">
            <div class="c-entry-post__plate">
                <a class="c-entry-post__plate-link" href="demandnew.html"><img class="c-entry-post__plate-logo"
                                                                               src="img/send1.png"></a>
                <div class="c-entry-post__plate-intro">
                    <a href="demandnew.html"><h3 class="c-entry-post__plate-title">找合作</h3></a>
                    <p class="c-entry-post__plate-desc">此版块旨在各企业间的资源置换<br>纯费用支持的合作请勿在此发布</p>
                </div>
            </div>
            <div class="c-entry-post__plate">
                <a class="c-entry-post__plate-link" href="advertisernew.html"><img class="c-entry-post__plate-logo"
                                                                                   src="img/send2.png"></a>
                <div class="c-entry-post__plate-intro">
                    <a href="advertisernew.html"><h3 class="c-entry-post__plate-title">广告主</h3></a>
                    <p class="c-entry-post__plate-desc">提供纯费用支持，需要拉新、推广、曝光的广告主，请在此处发布</p>
                </div>
            </div>
            <div class="c-entry-post__plate">
                <a class="c-entry-post__plate-link" href="channelnew.html"><img class="c-entry-post__plate-logo"
                                                                                src="img/send3.png"></a>
                <div class="c-entry-post__plate-intro">
                    <a href="channelnew.html"><h3 class="c-entry-post__plate-title">渠道主</h3></a>
                    <p class="c-entry-post__plate-desc">需要纯费用支持，提供拉新、推广、曝光的流量主，请在此处发布</p>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="layui/css/layui.css?t=1508154136727" media="all">
<script src="layui/layui.js?t=1508154136727" charset="utf-8"></script>

